                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Responsive Grid", "Grid", "Home")</li>
                        <li>@Html.ActionLink("Form Demo", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Responsive Utility Classes", "RUC", "Home")</li>
                        <li>@Html.ActionLink("Documentation", "index", "Docs")</li>
