@{
    ViewBag.Title = "Contact Page";
}

@section featured {
    <section class="featured">
        <div>
            <hgroup class="title">
                <h2>@ViewBag.Title</h2>
                <h3>@ViewBag.Message</h3>
            </hgroup>

        </div>
    </section>
}
 
@section sidebar{
    @*<h3 class="alert ">Jennifer DeCesari</h3>*@

         <h5 class="muted" >Contact Info</h5><p></p>
      
    <div style="white-space: nowrap"><a href="mailto://jenniferdecesari@gmail.com" ><img src="~/Images/EmailIcon.png" alt="Email" />&nbsp;jenniferdecesari@@gmail.com</a></div>  
    <div><a href="https://twitter.com/JenDeCesari" target="_new"><img src="~/Images/twitter.png" alt="Twitter" />&nbsp;@@JenDeCesari</a> </div> 
    <hr/>
    <p></p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
    </ul>
            
}



<div>

<section class="contact">
    <header>
        <h3>Phone & E-mail</h3>
    </header>
    <p>
        @*<span class="label"></span>*@
        <span>919.886.6293</span><p></p>
        <span><a href="mailto://jenniferdecesari@gmail.com">JenniferDeCesari@gmail.com</a></span>
    </p> 
</section>

</div>


<div >
    <h3>About You</h3>
</div>

<form >
    <div class="control-group">
           
              <div class="controls">
                  <input type="text" class="input-xlarge" id="Name" placeholder ="Name">
                         
              </div>

              <div class="controls">
              
                  <input type="text" class="input-xlarge" id="Address" placeholder ="Address">
                  <br />
                  <input type="text" class="input-xlarge" id="Unit" placeholder ="Unit">
              
              </div>

              <div class="controls">
              
              
                  <input type="text" class="input-small" id="City" placeholder ="City">
                  <select id="state" class="input-mini">
                      <option>NC</option>
                  </select>
                  <input type="text" class="input-mini" id="ZIP" placeholder ="Zip">
              </div>
              <div>
                  <textarea style="height: 200px" class="input-xlarge" id="message" placeholder="Message"></textarea>
                  <br/>
              </div>
        
              <div class="">
                  <button type="submit" class="btn btn-primary">Send Message</button>
                  <button class="btn">Cancel</button>
              </div>
        
          </div>


</form>


